<!DOCTYPE html>
<html lang="en">
<!-- tells the browse that this is a html doc. in english-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>weather</title>
  <link rel='stylesheet' type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
</head>
<!-- our head block,...ty Cpt.Obvius -->

<body>
  <div class="container">
    <fieldset>
      <form action="/" method="POST" autocomplete="off">
        <input name="city" type="text" placeholder="Enter a city" required class="ghost-input" />
        <input id="submit" type="submit" value="Get Weather" class="ghost-button" />
      </form>
      <!-- (above) is whats going on inside our container,
        (bellow) is our "ejs" template engine -->
      <p>
           <% if(locals.weather !==null){ %>
          <p>
            <%= locals.weather %>
          </p>
          <% } %>

            <% if(locals.error !==null){ %>
              <p>
                <%= locals.error %>
              </p>
      </p>

      
            </p>
            <% } %>
    </fieldset>
  </div>
</body>

</html>
<!-- source for the ejs engine fix can be found here "https://medium.com/@geetikak97/if-anyone-is-getting-an-error-saying-weather-is-not-defined-try-substituting-weather-with-locals-a4335e729f41 -->
