body {
    width: 800px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    background: url("../images/weather.jpg");
    background-size: cover;
}

/* this is the main  background for the entire page
*/
.container {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    background-color: lightgray;
    border-radius: 10px;
}

/* this is the main container that has all of the other elements 'buttons inside
*/
fieldset {
    display: block;
    -webkit-marin-end: 0px;
    -webkit-padding-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0em;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    padding: 60px;
}

/* type and settings for the container
*/
-ghost-input,
p {
    display: block;
    font-weight: 300;
    width: 100%;
    font-size: 25px;
    border: 0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b5f545f;
    font-family: 'Open Sans', 'opensans', 'monospace';
    padding: 10px 15px;
    margin: 10px 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

-ghost-input:focus {
    border-bottom: solid #ddd;
}

/* settings for how our user-input is renderd
*/

-ghost-button {
    background-color: transparent;
    border: rgba(7, 204, 239, 0.821);
    padding: 10px 30px;
    width: auto;
    min-width: 350px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1 ease-in-out;
    color: rgb(73, 72, 72);
    font-weight: bold;
}

/* settingf for our buttons
*/

-ghost-button:hover {
    background-color: crimson;
    border: 10px solid #06cdeb
}

/* settings for the buttons border when the user hovers the mouse over it
*/